/backend/.env
/backend/backend/__pycache__
/myenv
/.gitignore
/backend/client.json
/backend/receipts/__pycache__
/backend/static
/backend/media/receipt_images
/backend/client_secret_455580462731-4nc4ve97phes8dngogu19icl4asqm344.apps.googleusercontent.com.json
/backend/client2.json